USE [TanTrao2026_DB]
GO
/****** Object:  Schema [base]    Script Date: 4/14/2026 1:33:43 PM ******/
CREATE SCHEMA [base]
GO
/****** Object:  Schema [prod]    Script Date: 4/14/2026 1:33:43 PM ******/
CREATE SCHEMA [prod]
GO
/****** Object:  Table [base].[ACCOUNT]    Script Date: 4/14/2026 1:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[ACCOUNT](
	[ID] [int] IDENTITY(100000,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ACCOUNT] [varchar](50) NULL,
	[PASSWORD] [nvarchar](500) NULL,
	[FIRST_NAME] [nvarchar](200) NULL,
	[LAST_NAME] [nvarchar](200) NULL,
	[EMAIL] [varchar](200) NULL,
	[POSITION] [int] NULL,
	[PHONE] [varchar](50) NULL,
	[ADDRESS] [nvarchar](200) NULL,
	[ACTIVE] [int] NULL,
	[ROLE_ID] [int] NULL,
	[factoryId] [int] NULL,
	[departmentId] [int] NULL,
	[CREATE_BY] [int] NULL,
	[unActive] [int] NULL,
	[timeUnActive] [varchar](50) NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[notificationMail] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[CATEGORY]    Script Date: 4/14/2026 1:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](200) NULL,
	[PERMISSION] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[DEPARTMENT]    Script Date: 4/14/2026 1:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[DEPARTMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE] [nvarchar](100) NULL,
	[TYPE2] [nvarchar](100) NULL,
	[PARENT_ID] [varchar](50) NULL,
	[factoryId] [int] NULL,
	[accountId] [int] NULL,
	[accountId1] [int] NULL,
	[accountId2] [int] NULL,
	[CODE] [varchar](50) NULL,
	[NAME] [nvarchar](200) NULL,
	[PACKAGE_TYPE_GROUP_ID] [int] NULL,
	[GROUP_ID] [int] NULL,
	[MODULE_ID] [int] NULL,
	[ERROR] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[MENU]    Script Date: 4/14/2026 1:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[MENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PARENT_ID] [int] NULL,
	[TYPE] [varchar](50) NULL,
	[CODE] [varchar](50) NULL,
	[NAME] [nvarchar](200) NULL,
	[PATH] [varchar](500) NULL,
	[sequence] [int] NOT NULL,
	[permission] [int] NOT NULL,
	[isActive] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[MODULE]    Script Date: 4/14/2026 1:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[MODULE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[CODE] [varchar](50) NULL,
	[NAME] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[POSITION]    Script Date: 4/14/2026 1:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[POSITION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [varchar](50) NULL,
	[NAME] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[ROLE]    Script Date: 4/14/2026 1:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[ROLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[CODE] [varchar](50) NULL,
	[NAME] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[ROLE_DEPARTMENT]    Script Date: 4/14/2026 1:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[ROLE_DEPARTMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_ID] [int] NULL,
	[DEPARTMENT_ID] [int] NULL,
	[POSITION_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[ROLE_GROUP]    Script Date: 4/14/2026 1:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[ROLE_GROUP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [varchar](50) NULL,
	[NAME] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[ROLE_TYPE]    Script Date: 4/14/2026 1:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[ROLE_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [varchar](50) NULL,
	[NAME] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[ROLE_VALUE]    Script Date: 4/14/2026 1:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[ROLE_VALUE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ROLE_ID] [int] NULL,
	[ROLE_TYPE_ID] [int] NULL,
	[VALUE] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prod].[KH_KHAI_THAC]    Script Date: 4/14/2026 1:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prod].[KH_KHAI_THAC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[thang] [int] NULL,
	[nam] [int] NULL,
	[xa] [nvarchar](100) NULL,
	[ten_ho] [nvarchar](200) NULL,
	[thon] [nvarchar](500) NULL,
	[cccd] [nvarchar](500) NULL,
	[chung_chi] [nvarchar](500) NULL,
	[khoanh] [nvarchar](50) NULL,
	[lo] [nvarchar](50) NULL,
	[dien_tich] [float] NULL,
	[loai_cay] [nvarchar](100) NULL,
	[nam_trong] [int] NULL,
	[kl_bang_ke] [float] NULL,
	[kl_go] [float] NULL,
	[noi_xe] [nvarchar](200) NULL,
	[ngay_lam_hs] [nvarchar](200) NULL,
	[thoi_gian_kt] [nvarchar](500) NULL,
	[so_bkls] [nvarchar](100) NULL,
	[ngay_bkls] [nvarchar](200) NULL,
	[KD] [nvarchar](50) NULL,
	[VD] [nvarchar](50) NULL,
	[source_sheet] [nvarchar](100) NULL,
	[source_file] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prod].[NHAP_GO_TRON]    Script Date: 4/14/2026 1:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prod].[NHAP_GO_TRON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TT] [float] NULL,
	[Xuong_xe] [nvarchar](100) NULL,
	[Chu_rung] [nvarchar](100) NULL,
	[So_hop_dong] [nvarchar](255) NULL,
	[Xa] [nvarchar](100) NULL,
	[Huyen] [nvarchar](100) NULL,
	[Loai_go] [nvarchar](50) NULL,
	[Lo_go] [nvarchar](50) NULL,
	[Thang] [int] NULL,
	[So_phieu] [nvarchar](50) NULL,
	[Ngay_nhap] [datetime] NULL,
	[Khoi_luong] [float] NULL,
	[Xe] [nvarchar](50) NULL,
	[So_BKLS] [nvarchar](50) NULL,
	[Ngay_BKLS] [nvarchar](255) NULL,
	[So_chung_chi] [nvarchar](255) NULL,
	[Hinh_thuc_xe] [nvarchar](50) NULL,
	[Khoang] [nvarchar](50) NULL,
	[Lo] [nvarchar](50) NULL,
	[Dien_tich] [float] NULL,
	[Nam] [int] NULL,
	[Go_xe_giao] [float] NULL,
	[UQ] [nvarchar](50) NULL,
	[Don_gia] [float] NULL,
	[Thon] [nvarchar](255) NULL,
	[cccd] [nvarchar](255) NULL,
	[Ngay_hieu_luc] [nvarchar](255) NULL,
	[sophieu] [nvarchar](50) NULL,
	[mst] [nvarchar](50) NULL,
	[factoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [base].[ACCOUNT] ON 

INSERT [base].[ACCOUNT] ([ID], [GUID], [ACCOUNT], [PASSWORD], [FIRST_NAME], [LAST_NAME], [EMAIL], [POSITION], [PHONE], [ADDRESS], [ACTIVE], [ROLE_ID], [factoryId], [departmentId], [CREATE_BY], [unActive], [timeUnActive], [createdAt], [updatedAt], [notificationMail]) VALUES (100001, N'016acb24-9379-4ae2-8e8b-1213cb74f9c8', N'admin', N'$2b$10$K/o9Axb1ICr.TlJCNRfm7.XXkfh7ZQPK5I5IKQ2u98TRzaHB2IV4i', N'Quản trị', N'Hệ thống', NULL, NULL, NULL, NULL, 1, 2, NULL, NULL, NULL, 1, NULL, CAST(N'2026-04-13T14:42:53.413' AS DateTime), CAST(N'2026-04-13T14:42:53.413' AS DateTime), NULL)
SET IDENTITY_INSERT [base].[ACCOUNT] OFF
GO
SET IDENTITY_INSERT [base].[ROLE] ON 

INSERT [base].[ROLE] ([ID], [GUID], [CODE], [NAME]) VALUES (2, N'e71e79f8-389d-446f-9033-6eb6c4165ae5', N'admin', N'Quản trị hệ thống')
SET IDENTITY_INSERT [base].[ROLE] OFF
GO
SET IDENTITY_INSERT [prod].[KH_KHAI_THAC] ON 

SET IDENTITY_INSERT [prod].[KH_KHAI_THAC] OFF
GO
SET IDENTITY_INSERT [prod].[NHAP_GO_TRON] ON 

GO
SET IDENTITY_INSERT [prod].[NHAP_GO_TRON] OFF
GO
ALTER TABLE [base].[ACCOUNT] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [base].[ACCOUNT] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [base].[ACCOUNT] ADD  DEFAULT ((0)) FOR [unActive]
GO
ALTER TABLE [base].[ACCOUNT] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [base].[ACCOUNT] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [base].[MENU] ADD  DEFAULT ((1)) FOR [sequence]
GO
ALTER TABLE [base].[MENU] ADD  DEFAULT ((1)) FOR [permission]
GO
ALTER TABLE [base].[MENU] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [base].[MODULE] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [base].[ROLE] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [base].[ROLE_VALUE] ADD  DEFAULT (newid()) FOR [GUID]
GO
