USE [TanTrao2026_DB]
GO
/****** Object:  Schema [base]    Script Date: 06/05/2026 8:55:27 AM ******/
CREATE SCHEMA [base]
GO
/****** Object:  Schema [prod]    Script Date: 06/05/2026 8:55:27 AM ******/
CREATE SCHEMA [prod]
GO
/****** Object:  View [dbo].[slqd_NMTB]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[slqd_NMTB]
as
SELECT DocEntry, DocNum, Series, ItemCode, Status, Type, PlannedQty, CmpltQty, RjctQty, PostDate, DueDate, OriginAbs, OriginNum, OriginType, UserSign, Comments, CloseDate, RlsDate, CardCode, Warehouse, Uom, LineDirty, JrnlMemo, TransId, CreateDate, Printed, OcrCode, PIndicator, OcrCode2, OcrCode3, OcrCode4, OcrCode5, SeqCode, Serial, SeriesStr, SubStr, LogInstanc, 
         UserSign2, UpdateDate, Project, SupplCode, UomEntry, PickRmrk, SysCloseDt, SysCloseTm, CloseVerNm, StartDate, ObjType, ProdName, Priority, RouDatCalc, UpdAlloc, CreateTS, UpdateTS, VersionNum, DataSource
FROM  SAPHANASQLDB..WOODSLAND.OWOR
GO
/****** Object:  Table [base].[ACCOUNT]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[ACCOUNT](
	[ID] [int] IDENTITY(100000,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ACCOUNT] [varchar](50) NULL,
	[PASSWORD] [nvarchar](500) NULL,
	[FIRST_NAME] [nvarchar](200) NULL,
	[LAST_NAME] [nvarchar](200) NULL,
	[EMAIL] [varchar](200) NULL,
	[POSITION] [int] NULL,
	[PHONE] [varchar](50) NULL,
	[ADDRESS] [nvarchar](200) NULL,
	[ACTIVE] [int] NULL,
	[ROLE_ID] [int] NULL,
	[factoryId] [int] NULL,
	[departmentId] [int] NULL,
	[CREATE_BY] [int] NULL,
	[unActive] [int] NULL,
	[timeUnActive] [varchar](50) NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[notificationMail] [nvarchar](200) NULL,
	[ATTENDANCE_CODE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[CATEGORY]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](200) NULL,
	[PERMISSION] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[DEPARTMENT]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[DEPARTMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE] [nvarchar](100) NULL,
	[TYPE2] [nvarchar](100) NULL,
	[PARENT_ID] [varchar](50) NULL,
	[factoryId] [int] NULL,
	[accountId] [int] NULL,
	[accountId1] [int] NULL,
	[accountId2] [int] NULL,
	[CODE] [varchar](50) NULL,
	[NAME] [nvarchar](200) NULL,
	[PACKAGE_TYPE_GROUP_ID] [int] NULL,
	[GROUP_ID] [int] NULL,
	[MODULE_ID] [int] NULL,
	[ERROR] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[MENU]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[MENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PARENT_ID] [int] NULL,
	[TYPE] [varchar](50) NULL,
	[CODE] [varchar](50) NULL,
	[NAME] [nvarchar](200) NULL,
	[PATH] [varchar](500) NULL,
	[sequence] [int] NOT NULL,
	[permission] [int] NOT NULL,
	[isActive] [int] NOT NULL,
	[species] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[MODULE]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[MODULE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[CODE] [varchar](50) NULL,
	[NAME] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[POSITION]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[POSITION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [varchar](50) NULL,
	[NAME] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[ROLE]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[ROLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[CODE] [varchar](50) NULL,
	[NAME] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[ROLE_DEPARTMENT]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[ROLE_DEPARTMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_ID] [int] NULL,
	[DEPARTMENT_ID] [int] NULL,
	[POSITION_ID] [int] NULL,
	[DESK_MANAGER] [int] NULL,
	[ORDER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[ROLE_GROUP]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[ROLE_GROUP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [varchar](50) NULL,
	[NAME] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[ROLE_TYPE]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[ROLE_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [varchar](50) NULL,
	[NAME] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[ROLE_VALUE]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[ROLE_VALUE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ROLE_ID] [int] NULL,
	[ROLE_TYPE_ID] [int] NULL,
	[VALUE] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prod].[ACCOUNT_CA]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prod].[ACCOUNT_CA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[ca_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prod].[CA_LAM_VIEC]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prod].[CA_LAM_VIEC](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[giovao] [int] NULL,
	[gionghi] [int] NULL,
	[gionghi1] [int] NULL,
	[giora] [int] NULL,
	[mealtime] [int] NULL,
	[thoigianlamviec] [int] NULL,
	[ma] [nvarchar](50) NULL,
	[ten] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prod].[CHAMCONG_LOGS]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prod].[CHAMCONG_LOGS](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[machineId] [int] NULL,
	[userId] [varchar](50) NULL,
	[punchTime] [datetime] NOT NULL,
	[punchType] [int] NULL,
	[createdAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CHAMCONG] UNIQUE NONCLUSTERED 
(
	[machineId] ASC,
	[userId] ASC,
	[punchTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prod].[CHAMCONG_MACHINES]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prod].[CHAMCONG_MACHINES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[ip] [varchar](50) NOT NULL,
	[port] [int] NULL,
	[factoryId] [int] NULL,
	[active] [bit] NULL,
	[lastSync] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prod].[GHEP_LO_GO_RESULT]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prod].[GHEP_LO_GO_RESULT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[thang] [int] NULL,
	[nam] [int] NULL,
	[mancc] [nvarchar](50) NULL,
	[source] [nvarchar](20) NULL,
	[he_so] [float] NULL,
	[SOPHIEU] [nvarchar](50) NULL,
	[MAKHO] [nvarchar](50) NULL,
	[NHOMSP] [nvarchar](50) NULL,
	[BIENSOXE] [nvarchar](50) NULL,
	[CREATED_AT] [datetime] NULL,
	[DAY] [float] NULL,
	[RONG] [float] NULL,
	[CAO] [float] NULL,
	[SOBO] [float] NULL,
	[SOTHANH_BO] [float] NULL,
	[TONG_THANH] [float] NULL,
	[KL_M3] [float] NULL,
	[LO_GO_GAN] [nvarchar](50) NULL,
	[CHUNG_CHI_GAN] [nvarchar](255) NULL,
	[saved_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prod].[GROUP_DEPARTMENT]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prod].[GROUP_DEPARTMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPARTMENT_ID] [int] NULL,
	[ORDER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prod].[KH_KHAI_THAC]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prod].[KH_KHAI_THAC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[thang] [int] NULL,
	[nam] [int] NULL,
	[xa] [nvarchar](100) NULL,
	[ten_ho] [nvarchar](200) NULL,
	[thon] [nvarchar](500) NULL,
	[cccd] [nvarchar](500) NULL,
	[chung_chi] [nvarchar](500) NULL,
	[khoanh] [nvarchar](50) NULL,
	[lo] [nvarchar](50) NULL,
	[dien_tich] [float] NULL,
	[loai_cay] [nvarchar](100) NULL,
	[nam_trong] [int] NULL,
	[kl_bang_ke] [float] NULL,
	[kl_go] [float] NULL,
	[noi_xe] [nvarchar](200) NULL,
	[ngay_lam_hs] [nvarchar](200) NULL,
	[thoi_gian_kt] [nvarchar](500) NULL,
	[so_bkls] [nvarchar](100) NULL,
	[ngay_bkls] [nvarchar](200) NULL,
	[KD] [nvarchar](50) NULL,
	[VD] [nvarchar](50) NULL,
	[source_sheet] [nvarchar](100) NULL,
	[source_file] [nvarchar](500) NULL,
	[lo_go_tron] [nvarchar](100) NULL,
	[lo_go_xe] [nvarchar](100) NULL,
	[dia_chi_cccd] [nvarchar](500) NULL,
	[don_gia] [float] NULL,
	[thanh_tien] [float] NULL,
	[chia_thang] [int] NULL,
	[chia_nam] [int] NULL,
	[nhom_chung_chi] [nvarchar](255) NULL,
	[xuong_xe] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prod].[LO_GO_HE_SO]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prod].[LO_GO_HE_SO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lo_go] [nvarchar](100) NOT NULL,
	[he_so] [float] NOT NULL,
	[ghi_chu] [nvarchar](255) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[lo_go] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prod].[NHAP_GO_TRON]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prod].[NHAP_GO_TRON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TT] [float] NULL,
	[Xuong_xe] [nvarchar](100) NULL,
	[Chu_rung] [nvarchar](100) NULL,
	[So_hop_dong] [nvarchar](255) NULL,
	[Xa] [nvarchar](100) NULL,
	[Huyen] [nvarchar](100) NULL,
	[Loai_go] [nvarchar](50) NULL,
	[Lo_go] [nvarchar](50) NULL,
	[Thang] [int] NULL,
	[So_phieu] [nvarchar](50) NULL,
	[Ngay_nhap] [datetime] NULL,
	[Khoi_luong] [float] NULL,
	[Xe] [nvarchar](50) NULL,
	[So_BKLS] [nvarchar](50) NULL,
	[Ngay_BKLS] [nvarchar](255) NULL,
	[So_chung_chi] [nvarchar](255) NULL,
	[Hinh_thuc_xe] [nvarchar](50) NULL,
	[Khoang] [nvarchar](50) NULL,
	[Lo] [nvarchar](50) NULL,
	[Dien_tich] [float] NULL,
	[Nam] [int] NULL,
	[Go_xe_giao] [float] NULL,
	[UQ] [nvarchar](50) NULL,
	[Don_gia] [float] NULL,
	[Thon] [nvarchar](255) NULL,
	[cccd] [nvarchar](255) NULL,
	[Ngay_hieu_luc] [nvarchar](255) NULL,
	[sophieu] [nvarchar](50) NULL,
	[mst] [nvarchar](50) NULL,
	[factoryId] [int] NULL,
	[dia_chi_cccd] [nvarchar](500) NULL,
	[KD] [nvarchar](50) NULL,
	[VD] [nvarchar](50) NULL,
	[thang_chia] [int] NULL,
	[nam_chia] [int] NULL,
	[Nam_trong] [int] NULL,
	[nhom_chung_chi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prod].[PNK_WOODSLAND_IMPORT]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prod].[PNK_WOODSLAND_IMPORT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[thang] [int] NULL,
	[nam] [int] NULL,
	[mancc] [nvarchar](50) NULL,
	[SOPHIEU] [nvarchar](50) NULL,
	[MAKHO] [nvarchar](50) NULL,
	[NHOMSP] [nvarchar](50) NULL,
	[BIENSOXE] [nvarchar](50) NULL,
	[CREATED_AT] [datetime] NULL,
	[DAY] [float] NULL,
	[RONG] [float] NULL,
	[CAO] [float] NULL,
	[SOBO] [float] NULL,
	[SOTHANH_BO] [float] NULL,
	[KL_M3] [float] NULL,
	[imported_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prod].[XUONG_XE]    Script Date: 06/05/2026 8:55:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prod].[XUONG_XE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma] [nvarchar](20) NOT NULL,
	[ten] [nvarchar](200) NOT NULL,
	[dia_chi] [nvarchar](500) NULL,
	[mst] [nvarchar](50) NULL,
	[sdt] [nvarchar](50) NULL,
	[chung_chi] [nvarchar](255) NULL,
	[hieu_luc_cc] [nvarchar](50) NULL,
	[nguoi_dai_dien] [nvarchar](100) NULL,
	[chuc_vu] [nvarchar](100) NULL,
	[nguoi_nhan] [nvarchar](100) NULL,
	[mancc_woodsland] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [base].[ACCOUNT] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [base].[ACCOUNT] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [base].[ACCOUNT] ADD  DEFAULT ((0)) FOR [unActive]
GO
ALTER TABLE [base].[ACCOUNT] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [base].[ACCOUNT] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [base].[MENU] ADD  DEFAULT ((1)) FOR [sequence]
GO
ALTER TABLE [base].[MENU] ADD  DEFAULT ((1)) FOR [permission]
GO
ALTER TABLE [base].[MENU] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [base].[MODULE] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [base].[ROLE] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [base].[ROLE_VALUE] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [prod].[CA_LAM_VIEC] ADD  DEFAULT ((0)) FOR [mealtime]
GO
ALTER TABLE [prod].[CHAMCONG_LOGS] ADD  DEFAULT ((0)) FOR [punchType]
GO
ALTER TABLE [prod].[CHAMCONG_LOGS] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [prod].[CHAMCONG_MACHINES] ADD  DEFAULT ((4370)) FOR [port]
GO
ALTER TABLE [prod].[CHAMCONG_MACHINES] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [prod].[GHEP_LO_GO_RESULT] ADD  DEFAULT (getdate()) FOR [saved_at]
GO
ALTER TABLE [prod].[LO_GO_HE_SO] ADD  DEFAULT ((2)) FOR [he_so]
GO
ALTER TABLE [prod].[LO_GO_HE_SO] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [prod].[PNK_WOODSLAND_IMPORT] ADD  DEFAULT (getdate()) FOR [imported_at]
GO
